data/
db/
output/
venv/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.env
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
cron.log
.idea/
node_modules/
.pnp.*
.yarn/
yarn.lock
package.json
